[submodule "submodules/fastsitephp"]
	path = submodules/fastsitephp
	url = https://github.com/fastsitephp/fastsitephp.git
[submodule "submodules/bats-core"]
	path = submodules/bats-core
	url = https://github.com/bats-core/bats-core.git
